@charset "utf-8"
/*! bulma.io v0.6.1 | MIT License | github.com/jgthms/bulma */
@import "base/basic"
@import "~bulma/sass/utilities/_all"
@import "~bulma/sass/base/_all"
@import "~bulma/sass/elements/_all"
@import "~bulma/sass/components/_all"
@import "~bulma/sass/grid/_all"
@import "~bulma/sass/layout/_all"
@import '~buefy/src/scss/buefy';

$fa-font-path: '/font-awesome-5-pro'
@import '~assets/font-awesome-5-pro/fontawesome.scss'
@import "assets/sass/base/colores.sass"

body
  min-height: 100vh
  &.background-black
    background: $black
  &.background-white
    background: $white
