<template>
  <div class="index landing_content">
    <div class="container">
      <div class="bx_header">
        <img src="" class="brand" alt="Jaguar Land Rover">
      </div>
      <main class="main has-text-centered">

        <h1 class="title is-3 has_text_shadow">En breve mas eventos</h1>

      </main>
      <footer class="jaguar-footer">
        <section class="privadidad">
          <h6>Aviso de Privacidad:</h6>
          <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
        </section>
      </footer>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  head: {
    title: 'Conoce las promociones de Jaguar Land Rover',
    bodyAttrs: {
      class: 'is_landing',
    },
  },
}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"

.bx_header
  background: rgba($black ,.6)
  text-align: center
  display: inline-block
  margin: 0 auto
  margin-top: -1rem
  margin-bottom: 2rem
  img
    max-width: 360px
  +tablet
    border-radius: 1rem
.container
  text-align: center
footer.jaguar-footer
  margin-top: 9rem
  background-color: rgba($black, .3)
  padding: 1rem
  border-radius: .5rem
.privadidad
  font-size: .8rem
  color: $white
  text-align: left
.zona-banners
  display: flex
  justify-content: space-around
  +mobile
    flex-direction: column
    align-items: center
  +tablet
    flex-direction: row
  .banner
    border: 1px solid $gray
    +mobile
      width: 90%
      height: 16rem
      margin-top: 1rem
    +tablet
      width: 45%
      height:  16rem
      margin-top: 0rem
.banner
  overflow: hidden
  position: relative
  img
    position: relative
    display: block
    object-fit: cover
    width: 100%
    height: 100%
    z-index: 1
  a
    position: absolute
    top: 0
    width: 100%
    height: 100%
    z-index: 3
    background-color: rgba($black, .5)
    color: $white
    text-align: center
    transition: background-color .5s ease-in
    span
      margin-top: 10rem
      font-weight: bolder
      background-color: $black
      padding: .4rem
    &:hover
      background-color: rgba($black, 0)
      color: $white
      transition: background-color .3s ease-out
.title
  color: white
.has-text-shadow
  text-shadow: 3px 3px 3px $black
</style>
