<template>
  <div>
    <section class="header">
      <div class="container">
        <img src="images/dies_header.svg" class="responsive">
      </div>
    </section>
    <section class="foto">
      <picture class="inner-image">
        <img src="images/content/principalHome.jpg" alt="Home">
      </picture>
    </section>
    <div class="index landing_content">
      <div class="container">
        <div class="has-padding">
          <ul class="whenandwhere">
            <li><strong>Fecha:</strong> 00 y 00 de Agosto </li>
            <li><strong>Hora:</strong> 00:00 AM a 00:00 PM </li>
          </ul>
        </div>
        <main class="main has-text-centered">

          <div class="formulario">
            <p>Por favor confirma tu asistencia en el siguiente formulario.</p>
            <!-- <span class="tag is-warning is-centered">Limitado a 200 registros.</span> -->

            <generic-form/>
            <p>Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al: [55] 4190 6602 o al correo: <a href="mailto:ventas@disenoespacio.mx">ventas@disenoespacio.mx</a></p>
          </div>
          <section class="privadidad">
            <h6>Aviso de Privacidad:</h6>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque saepe, numquam libero error commodi voluptatem illum suscipit eius asperiores velit sed amet consequuntur? Provident, ipsam ducimus deserunt facere tenetur quidem.</p>
          </section>
        </main>
        <!--footer -->
        <div class="footer">
          <div class="columns">
            <div class="column text-centered">
              <h3>Contáctanos</h3>
              <p>Tel: <a href="tel:[55] 4190 6602">[55] 4190 6602</a></p>
              <p>Correo: <a href="mailto:ventas@disenoespacio.mx">ventas@disenoespacio.mx</a></p>
              <a href="aviso_privacidad.html">Aviso de privacidad</a>
              <p>&reg; Todos los derechos reservados.</p>
            </div>
            <div class="column text-centered">
              <nav class="footer-nav is-transparent">
                <p>Síguenos</p>
                <a href="https://www.facebook.com/DIES-356029841503686/" target="_blank"><span class="icon"><i class="fa fa-facebook-official" aria-hidden="true"/></span></a>
              </nav>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>

<script>
import GenericForm from '~/components/TestDrive'

export default {
  name: 'Index',
  head: {
    title: 'TestDrive',
    bodyAttrs: {
      class: 'background-white',
    },
  },
  components: {
    GenericForm,
  },
}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"
@import url('https://fonts.googleapis.com/css?family=Droid+Sans')


$highlight: #1b2650
$verde: #0c6235
$rojo-trackday: #de2641


.header
  img
    margin: 0
    width: 220px
.header
  background-color: #353e5a
.inner-image
  display: flex
  padding-top: 50px
  align-items: center
  justify-content: center
  img
    width: 50%
    height: 50%
    object-fit: cover
.formulario
  text-align: left
.is_action
  font-family: 'Dosis', sans-serif
  font-weight: 700
  font-size: 1.8rem
  text-transform: uppercase
main.main
  background: $white
.event-logo
  margin-top: -90px
  padding: 1rem
  width: 600px
  display: inline-block
  border-radius: .5rem
  color: #2a3c69
.privadidad
  font-size: .8rem
  text-align: left
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray
  padding: 1rem 0
  margin-top: 1rem
.is_location
  background: $rojo-trackday
  padding: 1rem
  color: $white
  display: inline-block
  border-radius: 1rem
  margin: 1rem 0
  strong
    color: $white
  .nota
    background: $black
    color: $white
    display: inline-block
    padding: .2rem .4rem
    font-size: .8rem
.check
  margin-left: 1rem
.map-icon
  font-size: 2rem
  color: #FFF
.is-centered
  width: 100%
  text-align: center
.fa.has-background
  display: inline-block
  background: rgba($verde, .9)
  padding: .3rem
  margin: 0 .5rem
  border-radius: .2rem
.has-padding
  text-align: center;
  padding: 2rem
.has-background
  font-family: 'Dosis', sans-serif
  background: $black
  padding: 1rem
  text-align: center
  color: $white
  text-transform: uppercase
  margin: 0
  z-index: 5
.whenandwhere
  border: 1px solid rgba($gray, 0.5)
  padding: 1rem;
  border-radius: .5rem
  display: flex
  justify-content: space-between
.footer
  background-color: #353e5a
  text-align: center
</style>
