<template>
  <div class="index landing_content">
    <div class="container">
      <div class="bx_header">
        <img src="/images/rangerover.jpg" class="img_autoslalom is_3x4" alt="AutoSlalom Jaguar">
      </div>
      <main class="main has-text-centered">
        <img src="/images/landrover.png" class="logo_autoslalom" alt="LandRover">
        <h1 class="title is-3 has_text_shadow">Nueva Range Rover Sport 2018 </h1>
        <h2 class="title is-4">El Range Rover más dinámico</h2>
        <p class="is_action">La nueva Range Rover Sport ofrece una combinación única de deportividad, dinamismo, lujo y diseño de proporciones perfectas. <br> Te invitamos a nuestro evento de lanzamiento</p>
        <p class="is_location">
          Lugar: <strong>Av Pied de Cochon-Hotel Presidente Intercontinental.</strong> <br>
          Fecha: <strong>Jueves 26 de abril</strong> Hora: <strong>20 hrs.</strong><br>
          <span class="nota">cocktail dress code</span>
        </p>
        <div class="formulario">
          <p class="highlight">El periodo de registro para este evento ha terminado. </p>

        </div>
        <section class="privadidad">
          <h6>Aviso de Privacidad:</h6>
          <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
        </section>
      </main>
    </div>
  </div>
</template>

<script>


export default {
  name: 'Index',
  head: {
    title: 'Nueva Range Rover Sport 2018',
    bodyAttrs: {
      class: 'is_landing',
    },
  },

}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"

$verde: #0c6235
.landing_content
  .container
    background-color: #FFF
.container
  max-width: 900px
.formulario
  text-align: left
.is_action
  font-size: 1.2rem

main.main
  margin: 0 1rem
.logo_autoslalom
  margin-top: -5rem
  +mobile
    width: 130px
    height: 130px
  +tablet
    width: 200px
    height: 200px
.privadidad
  font-size: .8rem
  text-align: left
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray
  padding: 1rem 0
  margin-top: 1rem
.is_location
  background: $verde
  padding: 1rem
  color: $white
  display: inline-block
  border-radius: 1rem
  margin: 1rem 0
  strong
    color: $white
  .nota
    background: $black
    color: $white
    display: inline-block
    padding: .2rem .4rem
    font-size: .8rem
.highlight
  border: 1px solid $gray
  padding: 1rem
  text-align: center
  border-radius: .5rem
  min-height: 9rem
  line-height: 9rem
.check
  margin-left: 1rem
</style>
