<template>
  <div class="index landing_content">
    <div class="container">
      <div class="bx_header">
        <img src="/images/trackday-photo.jpg" class="event-photo" alt="Track Day">
      </div>
      <main class="main has-text-centered">
        <img src="/images/trackday.png" class="event-logo" alt="LandRover">
        <h1 class="title is-3 has_text_shadow">Track Day </h1>

        <p class="is_action">No hay mejor forma de conocer un <strong>Jaguar</strong>, que ponerse al volante de uno y sentir su potencia, rendimiento y comfort. <br> Además disfruta la emocionante y desafiante conducción de un todoterreno a bordo de un <strong>Land Rover</strong></p>
        <div class="columns">
          <div class="column">
            <p class="is_location">
              Lugar: <strong>Centro Dinámico Pegaso</strong>, Km 52.5 Carretera Naucalpan, San Mateo Otzacatipan Toluca. Mex.<br>
              <a href="https://goo.gl/maps/GxFJuAhHAjE2" target="_blank" class="map-icon">
                <img src="https://maps.gstatic.com/tactile/share/logo_maps_64dp.svg">
              </a>
            </p>
          </div>
          <div class="column">
            <div class="is_champions">
              <p>Disfruta de la transmisión en vivo de la final de la <br><strong>UEFA Champions League</strong>.</p>
            </div>
          </div>
        </div>
        <div class="formulario">
          <p>Por favor confirma tu asistencia en el siguiente formulario. </p>
          <span class="tag is-warning is-centered">Limitado a 200 registros.</span>

          <generic-form/>
          <p>Para mayor información o cualquier duda sobre el itinerario o dinámica de esta experiencia, favor de comunicarse al: 3067-9600 o al correo: p.verastegui@masaryk.jlr.com.mx</p>
        </div>
        <section class="privadidad">
          <h6>Aviso de Privacidad:</h6>
          <p>En Britania Motors, S.A. de C.V con domicilio Av. Magnocentro 1, Colonia Interlomas, San Fernando Huixquilucan, C.P. 52760, Estado de México; la información de nuestros clientes y clientes potenciales es tratada de forma estrictamente confidencial por lo que al contar con sus datos personales consiente su tratamiento con las finalidades de realizar trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios y realizar actividades de mercadotecnia, publicidad y prospección comercial relacionadas y diversas a los bienes, productos y servicios de Britania Motors. Para conocer el texto completo del Aviso de Privacidad, favor de solicitarlo por este mismo medio.</p>
        </section>
      </main>
    </div>
  </div>
</template>

<script>
import GenericForm from '~/components/FormTrackday'

export default {
  name: 'Index',
  head: {
    title: 'Track Day',
    bodyAttrs: {
      class: 'is_landing',
    },
  },
  components: {
    GenericForm,
  },
}
</script>
<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/colores.sass"
$highlight: #1b2650
$verde: #0c6235
$rojo-trackday: #de2641
.landing_content
  .container
    background-color: #FFF
.container
  max-width: 900px
.formulario
  text-align: left
.is_action
  font-size: 1.2rem

main.main
  margin: 0 1rem
.event-logo
  margin-top: -5rem
  width: 600px
  background: $white
  border-radius: .5rem
.privadidad
  font-size: .8rem
  text-align: left
  border-top: 1px solid $gray
  border-bottom: 1px solid $gray
  padding: 1rem 0
  margin-top: 1rem
.is_location
  background: $rojo-trackday
  padding: 1rem
  color: $white
  display: inline-block
  border-radius: 1rem
  margin: 1rem 0
  strong
    color: $white
  .nota
    background: $black
    color: $white
    display: inline-block
    padding: .2rem .4rem
    font-size: .8rem
.check
  margin-left: 1rem
.map-icon
  font-size: 2rem
  color: #FFF
.is_champions
  background-color: $highlight
  background-image: url(~/images/champions_back.jpg)
  background-size: cover
  color: $white
  text-align: center
  border-radius: 1rem
  margin: 1rem 0
  padding-top: 3rem
  min-height:  10rem
  strong
    color: $rojo-trackday
.is-centered
  width: 100%
  text-align: center
</style>
